.entete_detail{
    margin-top: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height:70px;
    padding-left: 25%;
    padding-right: 3%;
    background-color: white;
    border-bottom:1px solid rgba(90, 90, 90,0.2);
    /* border:1px solid green; */
}

.toutes_les_detail{
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 45px;
    /* border:1px solid yellow; */
    
}

.poser_detail{
    width:150px;
    outline: none;
    background-color: #071b40;
    border: none;
    color: white;
    height: 45px;
    font-size:14px ;
    border-radius: 2px;
    box-shadow: 2px 1px 2px rgba(7,27,64,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.container_detail{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container_left_detail{
    width:25%;
    /* border:1px solid pink; */
    padding-left: 3%;
    padding-right: 3%;
    height:500px;
    padding-top: 30px;
}

.container_right_detail{
    width:45%;
    /* border:1px solid aqua; */
    height:500px;
    padding-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
 
}

.score_rep_detail{
    margin-bottom: 20px;
    font-size: 14px;
    /* text-align: left; */
}

.detail_score_rep_detail{
    font-size: 14px;
    /* text-
    align: left; */
}

.vote_detail{
    /* border:1px solid red; */
    width:20%;
}

.content_detail{
    border:1px solid grey;
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    flex-direction: row;
    height: 500px;
    overflow: scroll;
}

.box_detail{
    border:1px solid rgba(90,90,90,0.2);
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /* padding-left: 15px; */
    /* padding-top: 15px;
    padding-bottom: 15px; */
    margin-bottom: 25px;
    margin-top: 10px;
    
}

.details_details_detail{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border:1px solid  rgba(90,90,90,0.2);
}

.soratra_details_detail{
    /* font-size: 14px; */
    /* color:rgba(90,90,90,0.8); */
}

.textedit_detail{
    /* border:1px solid blue; */
    width:30%;
    /* border:1px solid aqua; */
    height:500px;
    padding-top: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.boite_ask_detail{
   
    /* border:1px solid yellowgreen; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 35px;
    width:80%;
    margin-top: 30px;
    margin-left: 15px;

}

.poster_detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#071b40;
    width:100px;
    height:45px;
    color: white;
    margin-bottom: 25px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 25px;
    font-size: 14px;
}

.annulerpost_detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    border:1px solid rgba(90, 90, 90,0.5);
    width:100px;
    height:45px;
    color: Black;
    margin-bottom: 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#boutonask_detail{
    flex-direction: row;
}