.container_login{
    /* background-color: rgb(225,244,244); */
    max-height: 100vh;
    /* 01680b */
    /* border:1px solid red; */
    overflow: hidden;
    
}
.content_left_login{
    padding-left:7% ;
    padding-top: 5%;
    /* background-color: rgb(244,251,251); */
    background-color:#F7FBEE;
    width:50%;
    /* border:1px solid orange; */
    height:100%;
}
.titre_login{
    display: flex;
    font-size: 25px;
    font-family: "LGC Bold";
}
.para_login{
    display: flex;
}

.content_login{
    background-color: rgb(255,255,255);
    width: 100%;
    max-height:100vh;
    /* border:2px solid green; */
    display: flex;
    flex-direction: row;
    }

.illustration_login{
    width:100%;
    height:500px;
    /* border:1px solid yellow; */
}

.illustration_login img{
    height:500px;
}

.content_right_login{
    width:50%;
    /* height:100%; */
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bienvenu{
    font-size: 25px;
    font-family: "LGC Light";

    /* font-weight: bold; */
}
.bienvenu_login{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* border:1px solid green; */
    width:50%;
    margin-bottom: 30px;
}
.form_login{
    width:50%;
    /* border:1px solid orange; */
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}
.input_login label{
    margin-bottom: 10px;
    font-size: 14px;
    color:rgba(90,90,90,0.8) ;
}
.input_login{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
    /* border:1px solid blue; */
}

.input_login input{
    width:100%;
    height:45px;
 
    background-color:#F7FBEE ;
    outline: none;
    border:none;
    font-size: 14px;
    padding-left: 15px;
    box-shadow: 0 0 2px rgba(90,90,90,0.5);
    border-radius: 2px;
}

.bouton_login input{
    width:100%;
    outline: none;
    background-color: #071b40;
    border: none;
    color: white;
    height: 45px;
    font-size:14px ;
    border-radius: 2px;
    box-shadow: 2px 1px 2px rgba(7,27,64,0.2);
    margin-top: 15px;
    
}
.bouton_login{
    margin-bottom: 20px;
}

.signup_login{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}

#creer_compte_login{
    color:#071b40;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
}

#creer_compte_login:hover{
    text-decoration:underline;

}

#texte_eni_login{
    background: -webkit-linear-gradient(#01680b,#1e828f,#071b40 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "LGC Bold";
    font-weight: 500;
    /* letter-spacing: 2px; */
    /* font-size: 15px; */
}

#link{
    text-decoration: none;
}